{% extends 'base/base.html'%}
{% load static %}

  {% block content_header %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Cadastro de motor</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'pri' %}">Home</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'cad' %}">Funcionário</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'car' %}">Cargo</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'manu' %}">Manutenção</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'motor' %}">Motor</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  {% endblock%}
  {% block content %}
    <!--  Trocar -->
    <form method="POST" action="{% url 'motor' %}">
      {% csrf_token %}
      <div class="container-fluid">
          {{ mensagem }}
        <div class="row justify-content-md-center">
          <div class="col-md-6">
                <div class="callout callout-success">
                   <!-- Colocar o site-->



          <label> Modelo </label>
          <div class="input-group mb-2" >
          <span class="input-group-text" ><i class="fas fa-cog"></i></span>
          <input type="text" class="form-control" placeholder="Ex: A10"  name="modelo"  required>
          </div>


          <label> Voltagem </label>
          <div class="input-group mb-2" >
          <span class="input-group-text" ><i class="fas fa-bolt"></i></span>
          <input type="text" class="form-control" placeholder="Ex: 400"  name="voltagem"  required>
          </div>

          <label> Corrente </label>
          <div class="input-group mb-2" >
          <span class="input-group-text" ><i class="far fa-lightbulb"></i></span>
          <input type="text" class="form-control" placeholder="Ex: 20"  name="corrente"  required>
          </div>

          <label> CV </label>
          <div class="input-group mb-2" >
          <span class="input-group-text" ><i class="fas fa-horse"></i></span>
          <input type="text" class="form-control" placeholder="Ex: 220"  name="CV"  required>
          </div>

          <label> RPM </label>
          <div class="input-group mb-2" >
          <span class="input-group-text" ><i class="fas fa-tachometer-alt"></i></span>
          <input type="text" class="form-control" placeholder="Ex: 12000"  name="RPM"  required>
          </div>

          <br>
          <br>
        <center>
        <input type="submit" class="btn btn-outline-success " value="salvar">
        <input type="submit" class="btn btn-outline-danger" value="Limpar">
        </center>
        </div>

          </div>
        </div>
      </div>

    </form>
  {% endblock content %}