{% extends 'base/base.html'%}
{% load static %}

  {% block content_header %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Cadastro de Funcionário</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'pri' %}">Home</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'cad' %}">Funcionário</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'car' %}">Cargo</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'manu' %}">Manutenção</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'motor' %}">Motor</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  {% endblock%}
  {% block content %}
    <form method="POST" action="{% url 'cad' %}">
      {% csrf_token %}

      <div class="container-fluid">
          {{ mensagem }}
        <div class="row justify-content-md-center">
          <div class="col-md-6">
                <div class="callout callout-success">

             <label> Nome do funcionários</label>
             <div class="input-group mb-2   ">
              <span class="input-group-text" ><i class="fas fa-pencil-alt"></i></span>
              <input type="text" class="form-control" placeholder="Ex: Walt Disnei"  name="nome"  required>
             </div>

              <label>RG</label>
             <div class="input-group mb-2 ">
              <span class="input-group-text" ><i class="fas fa-address-card"></i></span>
              <input type="text" class="form-control" placeholder="Ex: 12.123.123-3"  name="RG" id="RG" required>
             </div>


             <label>CPF</label>
             <div class="input-group mb-2 ">
              <span class="input-group-text" ><i class="fas fa-file-alt"></i></span>
              <input type="text" class="form-control" placeholder="Ex: 123.123.123-12"  name="CPF" id="CPF"   required>
            </div>


             <label>Telefone para contato</label>
             <div class="input-group mb-2">
              <span class="input-group-text" ><i class="fas fa-mobile-alt"></i></span>
              <input type="text" class="form-control" placeholder="(19)11234-1234"  name="celular" id="celular" >
            </div>


             <label>Rua</label>
             <div class="input-group mb-2 ">
              <span class="input-group-text" ><i class="fas fa-road"></i></span>
              <input type="text" class="form-control" placeholder="Ex: Rua João da Cunha"  name="rua"   required>
            </div>


            <label>Número da casa </label>
             <div class="input-group mb-2 ">
              <span class="input-group-text" ><i class="fas fa-home"></i></span>
              <input type="number" class="form-control" placeholder="Ex: 123"  name="numeroCasa"   required>
            </div>


             <label>Bairro</label>
             <div class="input-group mb-2">
              <span class="input-group-text" ><i class="fas fa-map-marker-alt"></i></span>
              <input type="text" class="form-control" placeholder="Ex: Dr. João Augusto "  name="bairro"  required >
            </div>


             <label>Cidade</label>
             <div class="input-group mb-2">
              <span class="input-group-text" ><i class="fas fa-city"></i></span>
              <input type="text" class="form-control" placeholder="Ex: Casa Branca "  name="cidade"  required>
            </div>


             <label>Estado</label>
             <div class="input-group mb-2">
              <span class="input-group-text" ><i class="fas fa-flag"></i></span>
              <input type="text" class="form-control" placeholder="Ex: SP "  name="estado"  maxlength="2" required>
            </div>




             <label>CEP</label>
             <div class="input-group mb-2">
              <span class="input-group-text" ><i class="fas fa-map-signs"></i></span>
              <input type="text" class="form-control" placeholder="Ex: 13700-000 "  name="CEP"  ID="CEP" required>
            </div>

              <label> Cargo</label>
              <div class="input-group mb-2" >
              <span class="input-group-text" ><i class="far fa-user"></i></span>
               <select name="funcao" class="form-control">
               <option value="0">Ex: manutenção </option>
               {% for f in funcao%}
               <option value="{{f.id}}">{{f.descricao}}</option>
               {% endfor %}
              </select>
              </div>


            <br>
           <center>
             <input type="submit" class="btn btn-outline-success " value="salvar">
             <input type="submit" class="btn btn-outline-danger" value="Limpar">
           </center>

          </div>
        </div>
      </div>
      </div>
    </form>
    {% block scripts %}
    <script type="text/javascript">

    </script>
  {% endblock %}
{% endblock content %}
