{% extends 'base/base.html' %}

{% block content %}
 <center>
<h5> CADASTROS</h5>
<div class="">
    <!-- Funcionário-->
 <div class="col-5 col-sm-5 col-md-3">
  <div class="info-box">
      <span class="info-box-icon bg-success elevation-1">
       <i class="fas fa-user"></i>
      </span>
      <div class="info-box-content">
           <a href="{% url 'cad' %}" class="nav-link"> <span class="info-box-text"> Funcionários</span></a>
      </div>

  </div>
 </div>
     <!-- Cargo-->
  <div class="col-5 col-sm-5 col-md-3">
  <div class="info-box">
      <span class="info-box-icon bg-success elevation-1">
       <i class="fas fa-hard-hat"></i>
      </span>
      <div class="info-box-content">
           <a href="{% url 'car' %}" class="nav-link"> <span class="info-box-text"> Cargo</span></a>
      </div>
  </div>
 </div>
    <!-- Manutenção-->
  <div class="col-5 col-sm-5 col-md-3">
  <div class="info-box">
      <span class="info-box-icon bg-success elevation-1">
       <i class="fas fa-tools"></i>
      </span>
      <div class="info-box-content">
           <a href="{% url 'manu' %}" class="nav-link"> <span class="info-box-text"> Manutenção</span></a>
      </div>
  </div>
 </div>
    <!-- Manutenção-->
<div class="col-5 col-sm-5 col-md-3">
  <div class="info-box">
      <span class="info-box-icon bg-success elevation-1">
      <i class="fas fa-industry"></i>
      </span>
      <div class="info-box-content">
           <a href="{% url 'motor' %}" class="nav-link"> <span class="info-box-text"> Motor</span></a>
      </div>
  </div>
 </div>
</div>
     <h5> ADMINISTRAÇÃO</h5>
<div>
    <div class="col-3 col-sm-3 col-md-3">
  <div class="info-box">
      <span class="info-box-icon bg-success elevation-1">
      <i class="fas fa-user"></i>
      </span>
      <div class="info-box-content">
           <a href="{% url 'lista' %}" class="nav-link"> <span class="info-box-text">  Lista de funcionários</span></a>
      </div>
  </div>
 </div>
</div>
 </center>

{% endblock %}