 .callout.callout-success {
    border-left-color:#adb5bd ;
}

.bg-success {
    background-color: #000000 !important;
}

 .sidebar-dark-primary{
   background-color:#000000;
 }
 .input-group-text{
 color:#000000;
 }
 .callout.callout-success {
    border-left-color:#adb5bd !important ;
}
a{
 color: #000000;
}
.bg-success {
    background-color: #000000 !important;
}
